.super-mario {
    width: 200px;
    position: absolute;
    left: 100px;
    top: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 150px;
    top: 400px;
  }
  
  .baloon {
    float: right;
    position: absolute;
    left: 400px;
    top: 250px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 420px;
    top: 290px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    float: right;
    margin-top: 300px;
  }